/** CSS STYLE **/

:root{
  --white:#fff;
  --tr_white:#d7ccc0;
  --light:#f5f4f0;
  --basic:#fe8a02;
  --basic_dark:#42413c;
  --dark:#2a2626;
  --tr_dark:#908d8b;
  --brown:#b09a81;
  --blue:#1085c5;
  --basic_orande:#EA7600;
  
}

body {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
  margin: 0 0;
}

h1,h2,h3{
  font-family: 'Neucha', italic;
  line-height: 1.2em;
  margin-top: 0;
  font-weight: 400;
}

h1{
  font-size: 72px;
}

h2{
  font-size: 60px;
}

h3{
  font-size: 34px;
}

.container{
  width: 1110px;
  margin: auto auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.header{
  position: relative;
  background-color: var(--light);
  z-index: 1;
}

.h-section{
  position: relative;
}

.bg_before::before{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;
  content: '';
  z-index: -2;
}

.header-h1{
  margin-bottom: 180px;
  color: var(--basic);
}

.dark-text{
  color: var(--dark);
}

.header-image{
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
  z-index: -1;
}

.flex-cont{
  display: flex;
}

.first-ch{
  margin-right: 30px;
}

.col{
  max-width: 540px;
}

.h-btn{
  padding: 12px 24px;
  border: none;
  font-weight: bold;
  color: var(--white);
  background-color: var(--basic);
  margin-top: 24px;
}

.h-btn:hover{
  background-color: var(--basic_orande);
}


.what-is{
  color: var(--basic);
  text-align: center;
  margin-bottom: 27px;
}

.what-is-p{
  text-align: center;
  margin-bottom: 30px;
}

.video{
  position: relative;
  display: block;
  margin: 0 auto;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  margin-bottom: -200px;
}

.video-marg{
  padding-top: 100px;
  background-color: var(--basic_dark);
}

.flex-card{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.h2-card{
  font-size: 52px;
  color: var(--basic);
  padding-right: 39px;
  margin-bottom: 20px;
}

.h2-card-span{
  color: var(--white);
}

.card{
  background-color: var(--light);
  max-width: 302px;
  margin-right: 30px;
  margin-bottom: 20px;
  padding: 24px;
}

.card-end{
  margin-right: 0;
}

.card:hover{
  background-color: var(--basic_orande);
}

.card:hover h2{
  color: var(--white);
}

.card:hover p{
  color: var(--white);
}

.card:hover h3{
  color: var(--white);
}


.card-a{
  text-decoration: none;
  color: var(--dark);
}

.number{
  margin-bottom: 40px;
  font-size: 64px;
  line-height: 1;
}

.card-effect-h3{
  color: var(--basic);
  margin-bottom: 16px;
}

.card-p{
  margin-bottom: 0;
}

.sec-rel{
  position: relative;
}

.sec-col-light{
  background-color: var(--light);
  z-index: 1;
}

.sec-col-brown{
  background-color: var(--brown);
  z-index: 1;
}

.effect-img{
  vertical-align: middle;
  margin-right: 30px;
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.effect-img-brown{
  margin-right: 0;
}

.effect-p{
  font-family: 'Neucha', italic;
  color: var(--tr_dark);
  font-size: 24px;
  margin-top: 0;
  margin-bottom: 0;
}

.effect-p-brown{
  color: var(--white);
}

.effect-p-brown-title{
  color: var(--tr_white);
}

.effect-h2{
  margin-bottom: 30px;
}

.effect-h2-brown{
  color: var(--white);
}

.effect-h3-brown{
  color: var(--white);
  max-width: 514px;
}

h4{
  font-family: 'Open Sans', sans-serif;
  font-size: 14px;
  font-weight: bold;
  background-color: var(--brown);
  color: var(--white);
  padding-left: 10px;
  margin-top: 100px;
  margin-bottom: 20px;
}

.h4-brown{
  background-color: var(--white);
  color: var(--brown);
}

.p-marg-none{
  margin-top: 0;
  margin-bottom: 0;
}

