/** CSS STYLE **/

:root {
  --white: #fff;
  --tr_white: #d7ccc0;
  --light: #f5f4f0;
  --basic: #fe8a02;
  --basic_dark: #42413c;
  --dark: #2a2626;
  --tr_dark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
  --basic_orande: #ea7600;
}

body {

  margin: 0 0;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;

  color: var(--dark);
  line-height: 1.6em;
}

h1,
h2,
h3 {

  margin-top: 0;
  font-family: "Neucha", italic;
  
  font-weight: 400;

  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.container {
  width: 1110px;
  margin: auto auto;
  padding-top: 100px;
  padding-bottom: 100px;
}

.header {
  position: relative;

  z-index: 1;

  background-color: var(--light);
}

.h-section {
  position: relative;
}

.bg-before::before {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  z-index: -2;

  background-image: url("../images/background.png");
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.1;

  content: "";
}

.header-h1 {
  margin-bottom: 180px;

  color: var(--basic);
}

.dark-text {
  color: var(--dark);
}

.header-image {
  position: absolute;
  top: 55px;
  right: -270px;
  z-index: -1;

  height: 525px;
}

.flex-cont {
  display: flex;
}

.first-ch {
  margin-right: 30px;
}

.col {
  max-width: 540px;
}

.h-btn {
  margin-top: 24px;
  padding: 12px 24px;

  color: var(--white);
  font-weight: bold;

  border: none;
  
  background-color: var(--basic);
}

.h-btn:hover {
  background-color: var(--basic_orande);
}

.what-is {
  margin-bottom: 30px;

  color: var(--basic);
  text-align: center;
  
}

.what-is-p {
  margin-top: 0;
  margin-bottom: 30px;
  
  text-align: center;
}

.video {
  position: relative;

  display: block;
  margin: 0 auto -184px auto;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  
  border: none;
}

.video-marg {
  padding-top: 100px;

  background-color: var(--basic_dark);
}

.flex-card {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.h2-card {
  padding-right: 39px;
  margin-bottom: 20px;

  color: var(--basic);
  font-size: 52px;
}

.h2-card-span {
  color: var(--white);
}

.card {
  max-width: 302px;
  margin-right: 30px;
  margin-bottom: 20px;
  padding: 24px;

  background-color: var(--light);
}

.card-end {
  margin-right: 0;
}

.card:hover {
  background-color: var(--basic_orande);
}

.card:hover h2 {
  color: var(--white);
}

.card:hover p {
  color: var(--white);
}

.card:hover h3 {
  color: var(--white);
}

.card-a {
  color: var(--dark);
  text-decoration: none;
}

.number {
  margin-bottom: 40px;

  font-size: 64px;
  line-height: 1;
}

.card-effect-h3 {
  margin-bottom: 16px;

  color: var(--basic);
}

.card-p {
  margin-bottom: 0;
}

.sec-rel {
  position: relative;
}

.sec-col-light {
  z-index: 1;

  background-color: var(--light);
}

.sec-col-brown {
  z-index: 1;

  background-color: var(--brown);
}

.effect-img {
  margin-right: 30px;
  vertical-align: middle;
  
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

.effect-img-brown {
  margin-right: 0;
}

.effect-p {
  margin-top: 0;
  margin-bottom: 0;

  color: var(--tr_dark);
  font-size: 24px;
  font-family: "Neucha", italic;
}

.effect-p-brown {
  color: var(--white);
}

.effect-p-brown-title {
  color: var(--tr_white);
}

.effect-h2 {
  margin-bottom: 30px;
}

.effect-h2-brown {
  color: var(--white);
}

.effect-h3-brown {
  max-width: 514px;

  color: var(--white);
}

h4 {
  padding-left: 10px;
  margin-top: 100px;
  margin-bottom: 20px;

  color: var(--white);
  font-size: 14px;
  font-weight: bold;
  background-color: var(--brown);
  font-family: "Open Sans", sans-serif; 
}

.h4-brown {
  color: var(--brown);
  background-color: var(--white);
}

.p-marg-none {
  margin-top: 0;
  margin-bottom: 0;
}

.p-marg-top-none {
  margin-top: 0;
}

.footer-sub {
  background-color: var(--basic_dark);
}

.h3-footer {
  padding: 55px 122px 55px 55px;
  margin-bottom: 0;
  color: var(--white);
}

.color-white {
  color: var(--white);
}

.sub-rule {
  margin-top: 0;

  font-size: 12px;
}

.size-mail {
  margin-bottom: 9px;

  font-size: 18px;
}

.footer-form {
  padding: 15px;
  width: 390px;

  border: none;
}

.deliver {
  position: relative;
  height: 50px;
  width: 70px;
  margin-right: 55px;

  background-color: var(--basic);
  border: none;
}

.deliver:hover {
  background-color: var(--basic_orande);
}

.footer-flex {
  justify-content: space-between;
  align-items: center;
}

.deliver::before {
  position: absolute;
  top: 13px;
  right: 0;
  bottom: 0;
  left: 23px;

  background-image: url(../images/send.svg);
  background-repeat: no-repeat;

  content: "";
}

.contacts {
  margin-top: 60px;

  font-size: 14px;
  text-align: center;
}
